@import "../../Stylesheets/reset";
@import "../../Stylesheets/vars";
@import "../../Stylesheets/typeplate/typeplate";
@import "../../Stylesheets/flexbox";
@import "../../Stylesheets/z-index";

@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);


*{
  box-sizing: border-box;
}

body{
  font-family: $sansSerif;
  background-color: darken(white, 10%);
}

a{
  text-decoration: none;
}

.application{
  // composes: dark-background from "../../Stylesheets/colors.scss";
}
