@import "../../Stylesheets/vars";

.base{
  width: 25px;
  height: 25px;
}

.large{
  width: 40px;
  height: 40px;
}

.twitter{
  composes: base;
  path{
    fill: white;
  }
}

.plus, .play, .stop{
  composes: base;
  line, polygon, rect{
    stroke: white;
    stroke-width: 5;
  }
}

.logo{
  height: 100%;
  .darkP{
  	fill: darken($primaryDark, 20%);
  }

  .lightP{
  	fill: $primary;
  }
}

.delete{
  composes: base;
}

.copy{
  composes: base;
}

.twitter-icon{
	path{
		fill: white;
	}
}

.quote-list{
	.action-list{
		padding: .5rem 0rem;
	}
	.icon{
		width: 20px;
		height: 20px;
	}
}

.back-icon{
	float: left;

	path{
		fill: $primary;
	}
}

.search-icon{
	path{
		fill: $primary;
	}
}

.plus-icon, .play-icon, .stop-icon{
	line, polygon, rect{
		stroke: white;
		stroke-width: 5;
	}
}

.delete{
  composes: base;
}

.copy-icon{

}

.nav-icon{
	height: 100%;
}

.nav-toggle{

	.deck-icon{
		padding-top: 5px;
	}
	.bar{
		position: relative;
		transform-origin: center center;
		width: 25px;
		height: 2px;
		margin-bottom: 4px;
		background-color: $primary;
		transition: all 300ms ease-out;
		border-radius: 2px;
	}

	&.active{
		.bar-1{
			transform: rotate(45deg);
			top: 5px;
		}

		.bar-2{
			transform: rotate(-45deg);
			top: -1px;
		}

		.bar-3{
			opacity: 0;
		}
	}
}
